    <footer>
      <p>Placeholder XYZ - Equipe X</p>
      <p>Departamento de Pesquisar Placeholder - DPP</p>
      <p>Universidade Placeholder de Cidade - UPC</p>
      <p>(XX) XXXX-XXXX</p>
    </footer>
  </div>

</body>
</html>