{{> head}}
{{> style}}
    <header>
    <h1>Equipe X</h1>
    </header>

    <section>
      <p>Olá {{name}}!</p>
      <p>Você realizou o cadastro na nossa plataforma recentemente</p>
      <p>Esta é sua senha provisória {{senha}}</p>
      <p>Acesse e altere em {{link}}</p>
    </section>
{{> footer}}